<mjml owa="desktop" version="4.10.1">
  <mj-head>
    <mj-preview>{{ lang.gift_card_header }}</mj-preview>
  </mj-head>
  <mj-body background-color="#F4F4F4" >
    <mj-section background-repeat="repeat" padding-left="0px" padding-right="0px" padding-top="40px" padding="40px 0px 20px 0px" text-align="center">
      <mj-column>
        {% if store_data.logo_url|length %}
          <mj-image align="center" alt="Logo" border="none" height="auto" href="" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 0px 0px" src="{{ store_data.logo_url }}" target="_blank" title="" width="200px"></mj-image>
        {% else %}
          <mj-text align="left" color="#000000" font-family="Arial, sans-serif" font-size="20px" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 0px 0px">
          <h2 class="text-build-content" style="line-height:30px;text-align:center;; margin-top: 10px; margin-bottom: 10px" data-testid="A3g1Tqavxqp"><span style="font-size:24px;"></span>{{ store_data.name }}</h2>
          </mj-text>
        {% endif %}
      </mj-column>
    </mj-section>
    <mj-section background-color="#fff" background-repeat="repeat" padding-bottom="30px" padding-left="30px" padding-right="30px" padding-top="30px" padding="30px 30px 30px 30px" text-align="center">
      <mj-column>
        <mj-text align="left" color="#000000" font-family="Arial, sans-serif" font-size="20px" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 0px 0px">
          <h2 class="text-build-content" style="line-height:30px;text-align:center;; margin-top: 10px; margin-bottom: 10px" data-testid="A3g1Tqavxqp"><span style="font-size:24px;">{{ lang.gift_card_header }}</span><br /><span style="font-size:20px;">{{lang.from}}: {{ transaction_data.customer_first_name }} {{ transaction_data.customer_last_name }}</span></h2>
        </mj-text>
        <mj-text align="left" color="#000000" font-family="Arial, sans-serif" font-size="20px" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 0px 0px">{% for option in transaction_data._embedded["fx:items"][0]["_embedded"]["fx:item_options"] %}
          {% if (option.name == 'gift_recipient_message') %}
          <p class="text-build-content" style="line-height: 30px; text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="xQFIzXF17"><span style="color:#666;font-family:Open Sans;font-size:20px;"><i>{{ option.value }}</i></span></p>
          {% endif %}
          {% endfor %}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fff" background-repeat="repeat" border="1px solid #ffffff" padding-bottom="30px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 30px 0px" text-align="center">
      <mj-column>
        <mj-divider border-color="#eeeeee" border-style="solid" border-width="1px" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 0px 0px" width="100%"></mj-divider>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fff" background-repeat="repeat" padding-bottom="30px" padding-left="30px" padding-right="30px" padding-top="0px" padding="0px 30px 30px 30px" text-align="center">
      <mj-column>
        <mj-text align="left" color="#000000" font-family="Arial, sans-serif" font-size="24px" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 0px 0px">
          <p class="text-build-content" style="line-height: 30px; text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="g4wMkXxIt3"><span style="font-family:Open Sans, Helvetica, Arial, sans-serif;font-size:26px;"><b>{{ transaction_data._embedded["fx:items"][0]["_embedded"]["fx:gift_card_codes"].current_balance }}</b></span></p>
        </mj-text>
        <mj-text align="left" color="#000000" container-background-color="#f9f9f9" font-family="Arial, sans-serif" font-size="24px" padding-bottom="10px" padding-left="10px" padding-right="10px" padding-top="10px" padding="10px 10px 10px 10px">
          <p class="text-build-content" style="line-height: 18px; text-align: center; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;" data-testid="NkgyWKyen"><span style="color:#666666;font-family:Open Sans, Helvetica, Arial, sans-serif;font-size:18px;"><b>{{lang.code}}: {{ transaction_data._embedded["fx:items"][0]["_embedded"]["fx:gift_card_codes"].code }}</b></span></p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fff" background-repeat="repeat" padding-bottom="40px" padding-left="30px" padding-right="30px" padding-top="0px" padding="0px 30px 40px 30px" text-align="center">
      <mj-column>
        <mj-button align="center" background-color="#009005" border-radius="0px" border="none" color="#ffffff" font-family="Arial, sans-serif" font-size="16px" font-weight="normal" inner-padding="15px 25px 15px 25px" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0px 0px 0px 0px" text-decoration="none" text-transform="none" vertical-align="middle" href="{{ store_data.url }}"><span style="font-family:Open Sans, Helvetica, Arial, sans-serif;font-size:16px;" ><b>{{ lang.start_shopping }}</b></span></mj-button>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>