{# BEGIN CART TWIG TEMPLATE #}

{# ===================================================== #}
{% block cart %}

{% if context == 'cart' %}
    <div class="fc-sidecart-only-fixed">
        {# block sidecart_top_fixed_actions #}
        <div class="fc-fixed-button-left hidden-xs">
            <a data-fc-sidecart-dismiss  class="btn btn-default btn-block fc-btn-action">
                <svg class="fc-svg-icon">
                    <use xlink:href="#fa-caret-left" />
                </svg>Keep Shopping</a>
        </div>
        <div class="fc-fixed-button-right">
            <a class="btn btn-primary btn-block fc-btn-action" href="https://{{ config.store_domain }}/checkout?{{ session_name }}={{ session_id }}" target="_top">
                {{ config.lang.cart_checkout }}
                <svg class="fc-svg-icon">
                    <use xlink:href="#fa-caret-right" />
                </svg>
            </a>
        </div>
        {# endblock sidecart_top_fixed_actions #}
    </div>
{% endif %}

<div id="fc-cart" {% if context == 'cart' %}class="container"{% endif %}>
{% import "utils.inc.twig" as utils %}
{#
    Blocks within "cart" block:
    noscript_warning
    div.row
        cart_title
        continue_shopping
    div.row
        cart_form_start
        div.col-sm-8
            cart_errors
            cart_item_divs
        div.col-sm-4
            logo
            order_totals
                address_entry*
            order_payment_actions
        cart_form_end
#}

{% block noscript_warning %}
    <noscript>
        <div id="fc-noscript-errors" class="alert alert-danger">
            <h2>{{ config.lang.cart_warning }}:</h2>
            <p>{{ config.lang.cart_no_javascript_message|raw }}</p>
        </div>{# #fc-noscript-errors #}
    </noscript>
{% endblock noscript_warning %}


{# rather than doing inline control statements, we're setting some top level variables #}
{% if cart_is_fullpage %}
    {% set container_id = "fc-cart-container-responsive" %}
    {% set parent_grid_class = "col-sm-8" %}
    {% set child_grid_class = "col-sm-4" %}
    {% set product_image_class = "col-xs-3" %}
    {% set product_description_with_images_class = "col-xs-9" %}
{% else %}
    {% set container_id = "fc-cart-container-non-responsive" %}
    {% set parent_grid_class = "col-xs-12" %}
    {% set child_grid_class = "col-xs-12" %}
    {% set product_image_class = "col-xs-4" %}
    {% set product_description_with_images_class = "col-xs-8" %}
{% endif %}

<div id="{{ container_id }}">
    <div class="row">
        {% if not is_updateinfo %}
        <div class="{{ parent_grid_class }}">
            {% block cart_title %}
            <div class="fc-cart-title">
                <h2>{{ config.lang.cart_caption }}</h2>
                <p class="lead fc-order-quantity">
                    {% set temp_lang_cart_items = config.lang.cart_items %}
                    {% if item_count == 1 %}
                        {% set temp_lang_cart_items = config.lang.cart_item %}
                    {% endif %}
                    {# TODO: update language here when cart updates. #}
                    <span data-fc-order-quantity-integer="fc-order-quantity-integer">{{ item_count }}</span>
                    <span data-fc-lang-cart-item="{{ config.lang.cart_item }}" data-fc-lang-cart-items="{{ config.lang.cart_items }}">{{ temp_lang_cart_items|lower }}</span>
                    {{ config.lang.cart_in_your_order }}
                </p>
            </div>
            {% endblock cart_title %}
        </div>
        {% endif %}

        {% if cart_is_fullpage or context == 'checkout' %}
        <div class="{{ child_grid_class }}">
            {% block continue_shopping %}
            {% if cart_cancel_and_continue_link != '' %}
            <div class="fc-cancel-continue-shopping">
                <a href="{{ cart_cancel_and_continue_link }}" class="btn btn-default btn-sm">
                    <svg class="fc-svg-icon fc-icon-small">
                        <use xlink:href="#fa-angle-double-left" />
                    </svg>
                    {{ config.lang.cart_cancel_and_continue|raw }}
                </a>
            </div>
            {% endif %}
            {% endblock continue_shopping %}
        </div>
        {% endif %}
    </div>

    {% if not is_updateinfo %}

    {# TODO: Not sure if this should be a config. setting or if it's ok just setting it in context. #}
    {% if cart_is_fullpage %}
    <div class="row panel fc-cart-container">
    {% else %}
    <div class="row fc-cart-container">
    {% endif %}
        {% block cart_form_start %}
        {% if config.with_controls %}
        <form id="fc-cart-form" action="https://{{ config.store_domain }}{{ config.post_url }}" method="post">
            {% block cart_hidden_inputs %}
            <input type="hidden" name="cart" value="update" />
            <input type="hidden" name="item_count" value="{{ items|length }}" />
            <input type="hidden" name="{{ session_name }}" value="{{ session_id }}" />
            {% endblock cart_hidden_inputs %}
        {% endif %}
        {% endblock cart_form_start %}



        <div class="{{ parent_grid_class }}">
            <div data-fc-id="block-cart-errors">
            {% block cart_errors %}
            {% if context == 'cart' %}
                {% include 'errors.inc.twig' %}

                {% if items|length == 0 %}
                    <div class="fc-message-container">
                        <div class="fc-empty-notification">
                            <a href="{{ cart_cancel_and_continue_link }}">{{ config.lang.cart_empty }}</a>
                        </div>
                    </div>
                {% endif %}

            {% endif %}
            {% endblock cart_errors %}
            </div>

            <div data-fc-id="block-cart-items-divs">
            {% block cart_items_divs %}
            <div class="fc-cart">

                {% if items|length > 0 %}
                <div class="row hidden-xs fc-cart-header">
                    <div class="{% if has_product_images %}col-xs-7 col-xs-offset-2 col-sm-5 col-sm-offset-2{% else %}col-xs-9 col-sm-7{% endif %}">
                        {{ config.lang.cart_item }}
                    </div>
                    <div class="fc-cart-item-totals col-xs-3 col-sm-5">
                        <div class="row">
                            <div class="fc-cart-item-price col-sm-4">
                                {% if (item_count != items|length) %}
                                {{ config.lang.cart_price }}
                                {% endif %}
                            </div>
                            <div class="fc-cart-item-quantity col-sm-4 hidden-xs">
                                {{ config.lang.cart_quantity }}
                            </div>
                            <div class="fc-cart-item-total col-sm-4 hidden-xs">
                                {{ config.lang.cart_total }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}


                {% for item in items %}
                {% if item.multiship != "-1" %}
                {# The first item per multiship shipto will != -1. All others will == -1 #}
                <div class="row fc-cart-multiship-header">
                    <h4>
                        {{ config.lang.cart_shipto }}: <strong>{{ item.shipto }}</strong>
                    </h4>
                </div>
                {% endif %}


                <div class="row fc-cart-item {% if loop.last %}fc-cart-item-last{% endif %}">

                    <div class="fc-cart-item-details-image-container col-xs-9 col-sm-7">
                        {% if has_product_images %}
                        <div class="fc-cart-item-image {{ product_image_class }}">
                            {% if item.url != '' and item.image != '' %}
                            <a href="{{ item.url }}" target="_top" alt="{{ item.alt_name }}">
                            {% endif %}
                                {% if item.image %}
                                <span><img class="img-responsive img-rounded" src="{{ item.image }}" /></span>
                                {% endif %}
                            {% if item.url != '' and item.image != '' %}
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="fc-cart-item-details {% if has_product_images %}{{ product_description_with_images_class }}{% else %}col-xs-12{% endif %}">
                            <p>{{ item.name }}</p>
                        {% block product_options %}
                            {% set checkout_sub_cancel = (context == 'checkout' and is_subscription_cancel) %}
                            {% set show_product_options = true %}
                            {% set show_product_weight = true %}
                            {% set show_product_category = true %}
                            {% set show_product_code = true %}
                            {% if config.template_config.cart_display_config.usage != "none" %}
                                {% set show_product_options = config.template_config.cart_display_config.show_product_options %}
                                {% set show_product_weight = config.template_config.cart_display_config.show_product_weight %}
                                {% set show_product_category = config.template_config.cart_display_config.show_product_category %}
                                {% set show_product_code = config.template_config.cart_display_config.show_product_code %}
                            {% endif %}
                            <ul class="list-unstyled">
                                {% if show_product_options %}
                                    {% for option in item.options %}
                                    <li class="fc-cart-item-option-{{ option.class }}">
                                        <span class="fc-cart-item-option-name">{{ option.name }}</span>:
                                        <span class="fc-cart-item-option-value">{{ option.value }}</span>
                                    </li>
                                    {% endfor %}
                                {% endif %}

                                {% if item.code != '' and show_product_code %}
                                <li class="fc-cart-item-option-code">
                                    <span class="fc-cart-item-option-name">{{ config.lang.cart_code }}</span>:
                                    <span class="fc-cart-item-option-value">{{ item.code }}</span>
                                </li>
                                {% endif %}

                                {% if item.category != 'DEFAULT' and show_product_category %}
                                <li class="fc-cart-item-option-category">
                                    <span class="fc-cart-item-option-name">{{ config.lang.cart_category }}</span>:
                                    <span class="fc-cart-item-option-value">{{ item.category }}</span>
                                </li>
                                {% endif %}

                                {% if item.weight != 0 and show_product_weight %}
                                <li class="fc-cart-item-option-weight">
                                    <span class="fc-cart-item-option-name">{{ config.lang.cart_weight }}</span>:
                                    <span class="fc-cart-item-option-value">{{ item.weight }} <span class="fc-cart-item-option-value-unit">{{ config.weight_uom }}</span></span>
                                </li>
                                {% endif %}

                                {% if item.sub_frequency != '' %}
                                <li class="fc-cart-item-option-subscription-details">
                                    {{ config.lang.cart_subscription_details|raw }}
                                    <ul>
                                        <li class="fc-cart-item-option-subscription-frequency">
                                            <span class="fc-cart-item-option-name">{{ config.lang.cart_frequency }}</span>:
                                            <span class="fc-cart-item-option-value">{{ item.sub_frequency }}</span>
                                        </li>
                                        <li class="fc-cart-item-option-subscription-startdate">
                                            <span class="fc-cart-item-option-name">{{ config.lang.cart_start_date }}</span>:
                                            <span class="fc-cart-item-option-value">{{ item.sub_startdate }}</span>
                                        </li>
                                        <li class="fc-cart-item-option-subscription-nextdate">
                                            <span class="fc-cart-item-option-name">{{ config.lang.cart_next_date }}</span>:
                                            <span class="fc-cart-item-option-value">{{ item.sub_nextdate }}</span>
                                        </li>
                                    {% if item.sub_enddate != "0000-00-00" %}
                                        <li class="fc-cart-item-option-subscription-enddate">
                                            <span class="fc-cart-item-option-name">{{ config.lang.cart_end_date }}</span>:
                                            <span class="fc-cart-item-option-value">{{ item.sub_enddate }}</span>
                                        </li>
                                    {% endif %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% if config.with_controls and checkout_sub_cancel == false %}
                                <li class="fc-cart-item-actions">
                                    <ul class="list-inline">
                                        <li class="close">
                                            <a href="#" title="{{ config.lang.cart_remove_item }}" data-fc-id="item-remove-link" data-fc-item-id="{{ item.id }}">Remove product</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        {% endblock %}
                        </div>
                    </div>

                    <div class="fc-cart-item-totals col-xs-3 col-sm-5">
                        <div class="row">
                            <div class="fc-cart-item-total col-sm-4 col-sm-push-8">
                                <p>
                                    {{ item.price|money_format }}{% if (((item.price * 10000) % 100) != 0) %}...<br />{{ item.price }}{% endif %}
                                </p>
                            </div>

                            <div class="fc-cart-item-price col-sm-4 col-sm-pull-4">
                                {% if item.quantity != 1 %}
                                <p>
                                    {{ item.price_each|money_format }}{% if (((item.price_each * 10000) % 100) != 0) %}...<br />{{ item.price_each }}{% endif %}
                                    <small>
                                        {{ config.lang.cart_each }}
                                    </small>
                                </p>
                                {% endif %}
                            </div>

                            <div class="fc-cart-item-quantity col-sm-4 col-sm-pull-4">
                                {% if config.with_controls and checkout_sub_cancel == false %}
                                <input type="hidden" id="id{{ item.item_number }}" name="id{{ item.item_number }}" value="{{ item.id }}" />
                                <input class="form-control input-sm fc-cart-item-quantity-input" type="number" name="quantity{{ item.item_number }}" id="quantity{{ item.item_number }}" min="1" value="{{ item.quantity }}" data-fc-id="item-quantity-input" data-fc-item-id="{{ item.id }}"/>
                                {% else %}
                                <p>{{ config.lang.cart_qty }}: {{ item.quantity }}</p>
                                {% endif %}
                                {% if loading_quantity %}
                                <div class="spinner">
                                  <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                                </div>
                                {% endif %}                                
                            </div>
                        </div>
                    </div>

                </div>

                {% endfor %}
            </div>

            {% set info_string = utils.get_info_string('quantity', messages.info) %}
            {% if info_string and context != 'cart' %}
                {# TODO: fix the styling for the line below #}
                <div class="alert" style="color: transparent;">
                {{ info_string }}
                </div>
            {% endif %}

            {% endblock cart_items_divs %}
            </div>
        </div>



        <div class="{{ child_grid_class }} fc-sidebar clearfix">
            {% block logo %}
            <div class="hidden-xs">
                {% if config.store_logo_url %}
                <img id="fc-logo" src="{{ config.cache_path }}{{ config.store_logo_url }}" class="img-responsive" alt="{{ config.store_name }}">
                {% else %}
                <h1 id="fc-logotype">{{ config.store_name }}</h1>
                {% endif %}
            </div>
            {% endblock logo %}

            <div data-fc-id="block-address-entry">
            {% block address_entry %}
            {% if context == 'cart' and not has_multiship %}
                {% if show_address_entry %}
                <div class="fc-address-entry form-horizontal">
                    <h4><svg class="fc-svg-icon fc-icon-large"><use xlink:href="#fa-truck" /></svg> {{ config.lang.cart_calculate_shipping }}</h4>

                    {% include 'postal_code.inc.twig' with {'address': shipping_address} %}

                    <div data-fc-id="block-shipping-results">
                    {% block shipping_results %}
                        {% if loading_shipping_results %}
                            <div class="spinner">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                            </div>
                        {% endif %}
                        {{ utils.shipping_results(shipping_address, "col-md-12", messages.errors, config.lang) }}
                        {% set error_string = utils.get_error_string('shipping-results',messages.errors) %}
                        {% if error_string %}
                        <div class="alert alert-danger">
                            {{ error_string }}
                        </div>
                        {% endif %}
                    {% endblock shipping_results %}
                    </div><!-- data-fc-id="fc-shipping-results" -->
                </div><!-- .fc-address-entry -->
                {% endif %}
            {% endif %}
            {% endblock address_entry %}
            </div><!-- data-fc-id="block-address-entry" -->

            <div data-fc-id="block-order-totals">
            {% block order_totals %}
            <h3 class="text-center">{{ config.lang.cart_order_summary }}</h3>

            <ul class="fc-cart-totals list-unstyled">
                {% if has_shippable_products or has_taxes or has_discounts %}
                <li class="fc-cart-total-subtotal">
                    {# TODO: the below condition needs to actually work (if it doesn't). #}
                    {% if has_future_products %}<h5>{{ config.lang.cart_todays_charge }}</h5>{% endif %}
                    <table>
                        <tr class="fc-cart-total-subtotal">
                            <td><h5>{{ config.lang.cart_subtotal }}</h5></td>
                            <td class="fc-cart-total-value">{{ total_item_price|money_format }}</td>
                        </tr>
                    </table>
                </li>
                {% endif %}

                {% set enable_coupon_controls = (has_eligible_coupons and config.with_controls) %}
                {% if context == 'checkout' %}
                    {% set enable_coupon_controls = (has_eligible_coupons and config.template_config.custom_checkout_field_requirements.coupon_entry == 'enabled') %}
                {% endif %}
                {% if not is_subscription_cancel and (enable_coupon_controls or coupons|length > 0) %}
                <li class="fc-cart-total-discounts">
                    <div data-fc-id="block-coupon-entry">
                    {% block coupon_entry %}

                    <div>
                        <h5>{{ config.lang.cart_discounts }}</h5>
                        {% if enable_coupon_controls %}
                            <button class="btn btn-xs btn-default" type="button" data-fc-id="show-coupon-input-button">
                            {% if show_coupon_input_button %}
                                {{ config.lang.cart_hide_coupon_input }}
                            {% else %}
                                {{ config.lang.cart_add_coupon }}
                            {% endif %}
                            </button>
                        {% endif %}
                    </div>

                    {% set error_string = utils.get_error_string('coupon',messages.errors) %}
                    {% if enable_coupon_controls and show_coupon_input_button %}
                    <div class="input-group fc-add-coupon">
                        <input type="text"
                            name="coupon"
                            id="coupon"
                            value="{{ current_coupon_code }}"
                            class="form-control"
                            placeholder="{{ config.lang.cart_coupon_code }}"
                            autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-fc-id="add-coupon-button">{{ config.lang.cart_apply }}</button>
                        </span>
                    </div>
                    {% endif %}

                    {% if loading_coupons %}
                    <div class="spinner">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                    {% endif %}

                    {% if error_string %}
                    <div class="alert alert-warning">
                        {{ error_string }}
                    </div>
                    {% endif %}

                    {% endblock coupon_entry %}
                    </div><!-- data-fc-id="block-coupon-entry" -->

                    {% if coupons|length > 0 %}
                    <table>
                        {% for key,coupon in coupons %}
                        <tr class="fc-cart-total-discount {# if not coupon.is_applied %}fc-cart-total-discount-inactive{% endif #}" data-fc-coupon-container-id="{{ coupon.id }}">
                            <td class="fc-cart-total-label">
                                {{ coupon.name }}: {{ key }}
                                {% if enable_coupon_controls %}
                                <span class="close">
                                    <a href="https://{{ config.store_domain }}{{ config.post_url }}?cart=remove_coupon&amp;coupon_code_id={{ coupon.id }}&amp;{{ session_name }}={{ session_id }}" title="{{ config.lang.cart_remove_coupon }}" data-fc-id="remove-coupon-link" data-fc-coupon-code-id="{{ coupon.id }}">
                                        <svg class="fc-svg-icon"><use xlink:href="#fa-times-circle" /></svg>
                                    </a>
                                </span>
                                {% endif %}
                            </td>
                            <td class="fc-cart-total-value">{{ coupon.amount|money_format }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </li>
                {% endif %}

                {% if has_shippable_products %}
                <li class="fc-cart-total-shipping">
                    {% if context == 'cart' and not has_multiship %}
                        <div>
                            <h5>{{ config.lang.cart_shipping_to }}</h5>
                            {% if shipping_address.country and shipping_address.city and show_address_entry == false %}
                            <button data-fc-id="change-shipping-location-button" class="btn btn-default btn-xs" type="button">{{ config.lang.cart_change }}</button>
                            {% endif %}
                        </div>
                        {% if shipping_address.country and shipping_address.city %}
                        <address>
                            {{ shipping_address.city }}, {{ shipping_address.region }} {{ shipping_address.postal_code }}
                            {% if config.template_config.foxycomplete.show_flags %}
                            <img src="//cdn.foxycart.com/static/images/icons/flags/famfamfam/{{ shipping_address.country|lower }}.png" alt="{{ shipping_address.country }}">
                            {% endif %}
                        </address>
                        {% endif %}
                    {% endif %}

                    {% set shipping_service_label = config.lang.cart_shipping_and_handling %}
                    {% if shipping_address.shipping_service_id != 0 and shipping_address.shipping_service_description %}
                        {% set shipping_service_label = shipping_address.shipping_service_description %}
                    {% endif %}

                    <table>
                        <tbody>
                        <tr class="fc-cart-total-shipping">
                            <td class="fc-cart-total-label">{{ shipping_service_label }}</td>
                            <td class="fc-cart-total-value">
                            {% if show_shipping_tbd %}
                                {{ config.lang.cart_tbd }}
                            {% else %}
                                {{ total_shipping|money_format }}
                            {% endif %}
                            <input
                                id="total_shipping"
                                type="hidden"
                                name="total_shipping"
                                value="{{ total_shipping }}"
                            />
                            <input
                                id="total_future_shipping"
                                type="hidden"
                                name="total_future_shipping"
                                value="{{ total_future_shipping }}"
                            />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                {% endif %}

                {% if has_taxes %}
                <li class="fc-cart-total-tax">
                    {% if not (context == 'cart' and has_multiship) %}
                    <div>
                        <h5>{{ config.lang.cart_tax }}</h5>
                    </div>
                    {% endif %}
                    <table>
                        <tbody data-fc-id="taxes">
                        {% block taxes %}
                        {% if loading_taxes %}
                            <div class="spinner">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                            </div>
                        {% endif %}
                        {% if has_multiship %}
                            {% if context == 'checkout' %}
                                {% for multiship in multiship_data %}
                                    {% for tax in multiship.taxes %}
                                    <tr class="fc-cart-total-taxes">
                                        <td class="fc-cart-total-label">
                                            {{ multiship.address_name }}: {{ tax.name }} (<span class="fc_cart_foot_tax_rate">{{ tax.rate }}</span>%):
                                        </td>
                                        <td class="fc-cart-total-value">
                                            {{ tax.amount|money_format }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% for tax in shipping_address.taxes %}
                            <tr class="fc-cart-total-taxes">
                                <td class="fc-cart-total-label">
                                    {{ tax.name }} (<span class="fc_cart_foot_tax_rate">{{ tax.rate }}</span>%):
                                </td>
                                <td class="fc-cart-total-value">
                                    {{ tax.amount|money_format }}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        {% endblock %}
                        </tbody>
                    </table>
                </li>
                {% endif %}

                <li class="fc-cart-total-final">
                    <table>
                        <tr class="fc-cart-total-final">
                            <td>
                                {{ config.lang.cart_order_total }}:
                            </td>
                            <td class="fc-cart-total-value">
                                {{ total_order|money_format }}
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>

            {# TODO: style it up and hide by default #}
            {% if context != "receipt" and has_multiship and multiship_data|length > 1 %}
                {% for multiship in multiship_data %}
                <h5>{{ config.lang.checkout_shipto }} {{ multiship.address_name }} {{ multiship.total_price|money_format }}</h5>
                {% endfor %}

                <button type="button" class="btn btn-xs btn-default" data-fc-id="button-toggle-multiship-details">Details</button>
                {% if show_multiship_details %}
                {% for multiship in multiship_data %}
                <h5>{{ config.lang.checkout_shipto }} {{ multiship.address_name }}</h5>
                <p>{{ config.lang.checkout_shipment_subtotal }} {{ multiship.total_item_price|money_format }}</p>
                <p>{{ multiship.shipping_service_description }} {{ multiship.total_shipping|money_format }}</p>
                <p>{{ config.lang.checkout_shipment_tax }} {{ multiship.total_tax|money_format }}</p>
                <p>{{ config.lang.checkout_shipment_total }} {{ multiship.total_price|money_format }} </p>
                {% endfor %}
                {% endif %}
            {% endif %}

            {% if has_future_products and not is_subscription_cancel %}
            {% block future_products %}
            <ul class="fc-cart-totals fc-cart-future-totals list-unstyled">
                <li>
                    {% if future_subscription_totals_by_date|length > 1 %}
                    <h5>{{ config.lang.cart_future_charges }}</h5>
                    {% else %}
                    <h5>{{ config.lang.cart_future_charge }}</h5>
                    {% endif %}
                </li>
                {% set has_future_subs_details = false %}
                {% if has_future_shipping or future_coupons|length > 0 or has_taxes %}
                    {% set has_future_subs_details = true %}
                <li class="fc-cart-total{% if config.with_controls %} hidden{% endif %}" data-fc-id="future-cart-display">
                    <table>
                        {% if has_future_shipping or future_coupons|length > 0 or has_taxes %}
                        <tr class="fc-cart-total-subtotal">
                            <td class="fc-cart-total-label">{{ config.lang.cart_subtotal }}</td>
                            <td class="fc-cart-total-value">{{ total_future_item_price|money_format }}</td>
                        </tr>
                        {% endif %}
                        {% if has_future_shipping %}
                        <tr class="fc-cart-total-shipping">
                            <td class="fc-cart-total-label">{{ shipping_service_label }}</td>
                            <td class="fc-cart-total-value">{{ total_future_shipping|money_format }}</td>
                        </tr>
                        {% endif %}
                        {% if has_taxes %}
                        {# TODO: test and verify future taxes work as expected... My hunch is they do not. #}
                        {% for tax in shipping_address.taxes %}
                        <tr class="fc-cart-total-taxes">
                            <td class="fc-cart-total-label">
                                {{ tax.name }} (<span class="fc_cart_foot_tax_rate">{{ tax.rate }}</span>%):
                            </td>
                            <td class="fc-cart-total-value">
                                {{ tax.amount|money_format }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        {% for key,coupon in future_coupons %}
                        <tr class="fc-cart-total-discounts">
                            <td class="fc-cart-total-label">{{ coupon.name }}: {{ coupon.code }}</td>
                            <td class="fc-cart-total-value">{{ coupon.amount|money_format }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </li>
                {% endif %}
                <li class="fc-cart-total-final">
                    <table>
                    {% for key, subscription_item_total in future_subscription_totals_by_date %}
                        <tr class="fc-cart-total-final">
                            <td class="fc-cart-total-label">
                                {{ key|date("F jS, Y") }}
                            </td>
                            <td class="fc-cart-total-value">
                                {{ subscription_item_total.total|money_format }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </li>
            </ul>

            {% if config.with_controls and is_subscription_cancel == false and has_future_subs_details %}
            <div class="row">
                <a class="btn btn-sm btn-link btn-block fc-cart-future-totals-display" href="#" data-fc-id="toggle-future-card-display-link" data-fc-lang-cart-hide-details="{{ config.lang.cart_hide_details }}" data-fc-lang-cart-show-details="{{ config.lang.cart_show_details }}">{{ config.lang.cart_show_details }}</a>
            </div>
            {% endif %}
            {% endblock future_products %}
            {% endif %}
            {% endblock order_totals %}
            </div><!-- data-fc-id="block-order-totals" -->



            {% block order_payment_actions %}
            {% if context == 'cart' %}
            <div class="fc-payment-actions">
            {% if items|length > 0 %}

                {% block order_payment_action_checkout %}
                <p class="text-center fc-payment-action-checkout">
                    <a class="btn btn-primary fc-checkout-link" href="https://{{ config.store_domain }}/checkout?{{ session_name }}={{ session_id }}" target="_top"><svg class="fc-svg-icon"><use xlink:href="#fa-lock" /></svg> {{ config.lang.cart_checkout }}</a>
                </p>
                {% endblock order_payment_action_checkout %}


                {% block order_payment_action_paypal_express %}
                {% if total_order > 0 %}
                    {% if show_paypal_express_payment_option %}
                    <p class="text-center fc-payment-action-or">—{{ config.lang.cart_or }}—</p>
                    <p class="text-center fc-payment-action-paypal-express-checkout">
                        <a data-fc-id="paypal-link" href="https://{{ config.store_domain }}/checkout?ThisAction=paypal_express&{{ session_name }}={{ session_id }}" target="_top">
                            <img src="{{ config.paypal_checkout_button_url }}" alt="{{ config.lang.cart_payment_method_paypal_express }}" />
                        </a>
                    </p>
                    {% endif %}
                {% endif %}
                {% endblock order_payment_action_paypal_express %}


                {% block order_payment_action_amazon %}
                {% if total_order > 0 %}
                    {% if show_amazon_fps_payment_option %}
                    <p class="text-center fc-payment-action-or">—{{ config.lang.cart_or }}—</p>
                    <p class="text-center fc-payment-action-amazon-fps">
                        <a data-fc-id="amazon-fps-link" href="https://{{ config.store_domain }}/checkout?ThisAction=checkout&fc_payment_method=amazon_fps&{{ session_name }}={{ session_id }}" target="_top">
                            <img src="https://cdn.foxycart.com/static/images/payment_logos/amazon.png" />
                        </a>
                    </p>
                    {% endif %}
                {% endif %}
                {% endblock order_payment_action_amazon %}


            {% endif %}{# items|length > 0 #}
            </div>
            {% endif %}{# context == 'cart' #}
            {% endblock order_payment_actions %}
        </div>



        {% block cart_form_end %}
        {% if config.with_controls %}
        </form>
        {% endif %}
        {% endblock cart_form_end %}
    </div>{# .fc-cart-container #}

    {% endif %} {# not is_updateinfo #}

</div>{# #fc-cart-responsive / #fc-cart-non-responsive #}

</div><!-- data-fc-container="cart" -->
{% endblock %}{# cart #}
{# ===================================================== #}


