{# BEGIN EMAIL TWIG TEMPLATE #}
{% if not is_updateinfo %}
    {% if has_downloadables %}
        <p id="fc_downloadable_products" class="fc_heading">
            <strong>{{ config.lang.email_html_downloadable_products|raw }}</strong>
        </p>
        <ol style="font-size:12px;" id="fc_download_links_list">
            {{ html_downloadable_links|raw }}
        </ol>
    {% endif %}
        <p id="fc_order_summary" class="fc_heading"><strong>{{ config.lang.email_html_order_summary|raw }}</strong></p>
        <ul style="font-size:12px;" id="fc_order_summary_ul">
            <li><strong>{{ config.lang.email_order_number|raw }}:</strong> {{ order_id }}</li>
            <li><strong>{{ config.lang.checkout_date|raw }}:</strong> {{ checkout_date }}</li>
        {% if purchase_order != '' %}
            <li><strong>{{ config.lang.checkout_purchase_order|raw }}:</strong> {{ purchase_order }}</li>
        {% endif %}
        {% if payment_type == 'plastic' %}
            <li><strong>{{ config.lang.checkout_card_number|raw }}:</strong> {{ cc_number_masked }} ({{ cc_type }})</li>
        {% endif %}
            <li><strong>{{ config.lang.email_order_total|raw }}:</strong> {{ order_total }}</li>
        {% if has_live_rate_shippable_products and not has_multiship %}
            <li><strong>{{ config.lang.email_shipping|raw }}:</strong> {{ shipping_service_description }}</li>
        {% endif %}
        {% for key,custom_field in custom_fields %}
            {% if not custom_field.is_hidden %}
            <li><strong>{{ key }}:</strong> {{ custom_field.value }}</li>
            {% endif %}
        {% endfor %}
        </ul>
{% endif %}
        <p id="fc_purchasing_information" class="fc_heading"><strong>{{ config.lang.email_html_purchasing_information|raw }}</strong></p>
        <p id="fc_purchasing_information_email">
            <span style="display:block;" class="fc_item_label"><strong>{{ config.lang.email_email|raw }}:</strong> </span>
            <span class="fc_item_data">{{ email }}</span>
        </p>
        <p id="fc_purchasing_information_billing_address">
            <span style="display:block;" class="fc_item_label"><strong>{{ config.lang.email_billing_address|raw }}:</strong> </span>
            <span class="fc_item_data">
            {{ first_name }} {{ last_name }}<br />
        {% if company != '' %}
            {{ company }}<br />
        {% endif %}
            {{ address1 }}<br />
        {% if address2 != '' %}
            {{ address2 }}<br />
        {% endif %}
            {{ city }}, {{ region }} {{ postal_code }}<br />
            {{ country_name }}<br />
        {% if geoip_html != '' %}
            {{ geoip_html }}<br />
        {% endif %}
        {% if phone != '' %}
            {{ phone }}<br />
        {% endif %}
            </span>
        </p>

    {% if not has_multiship %}
        {% if use_alternate_shipping_address or has_shippable_products %}
            <p id="fc_purchasing_information_shipping_address">
                <span style="display:block;" class="fc_item_label"><strong>{{ config.lang.email_shipping_address|raw }}:</strong> </span>
                <span class="fc_item_data">
            {% if use_alternate_shipping_address %}
                    {{ shipping_first_name }} {{ shipping_last_name }}<br />
                {% if shipping_company != '' %}
                    {{ shipping_company }}<br />
                {% endif %}
                    {{ shipping_address1 }}<br />
                {% if shipping_address2 != '' %}
                    {{ shipping_address2 }}<br />
                {% endif %}
                    {{ shipping_city }}, {{ shipping_region }} {{ shipping_postal_code }}<br />
                    {{ shipping_country_name }}<br />
                {% if shipping_phone != '' %}
                    {{ shipping_phone }}<br />
                {% endif %}
            {% else %}
                {{ first_name }} {{ last_name }}<br />
            {% if company != '' %}
                {{ company }}<br />
            {% endif %}
                {{ address1 }}<br />
            {% if address2 != '' %}
                {{ address2 }}<br />
            {% endif %}
                {{ city }}, {{ region }} {{ postal_code }}<br />
                {{ country_name }}<br />
            {% if geoip_html != '' %}
                {{ geoip_html }}<br />
            {% endif %}
            {% if phone != '' %}
                {{ phone }}<br />
            {% endif %}
            {% endif %}
                </span>
            </p>
        {% endif %}
    {% else %}
        {% for multiship in multiship_data %}
            <p class="fc_purchasing_information_shipping_address">
                <span style="display:block;" class="fc_item_label"><strong>{{ config.lang.email_ship_to|raw }}:</strong> <span class="fc_shipto_name">{{ multiship.address_name }}</span></span>
                <span class="fc_item_data">
                    {{ multiship.first_name }} {{ multiship.last_name }}<br />
                {% if multiship.company != '' %}
                    {{ multiship.company }}<br />
                {% endif %}
                    {{ multiship.address1 }}<br />
                {% if multiship.address2 != '' %}
                    {{ multiship.address2 }}<br />
                {% endif %}
                    {{ multiship.city }}, {{ multiship.region }} {{ multiship.postal_code }}<br />
                    {{ multiship.country_name }}<br />
                {% if multiship.phone != '' %}
                    {{ multiship.phone }}<br />
                {% endif %}

            {% for key,custom_field in multiship.custom_fields %}
                {% if not custom_field.is_hidden %}
                    <strong>{{ key }}:</strong> {{ custom_field.value }}<br />
                {% endif %}
            {% endfor %}
            {% if not is_updateinfo %}
                    <strong>{{ config.lang.email_subtotal|raw }}:</strong> {{ multiship.total_price_item_price|money_format }}<br />
            {% endif %}
            {% if has_live_rate_shippable_products %}
                    <strong>{{ multiship.shipping_service_description }}:</strong> {{ multiship.total_price_shipping|money_format }}<br />
            {% else %}
                {% if has_shippable_products %}
                    <strong>{{ shipping_and_handling_label|raw }}: {{ multiship.total_price_shipping|money_format }}<br />
                {% endif %}
            {% endif %}
            {% if not is_updateinfo %}
                    <strong>{{ config.lang.email_tax|raw }}:</strong> {{ multiship.total_price_tax|money_format }}<br />
                    <strong>{{ config.lang.email_group_total|raw }}:</strong> {{ multiship.total_price|money_format }}<br />
            {% endif %}
                </span>
            </p>
        {% endfor %}
    {% endif %}
        <div style="float:none; clear:both;"></div>
    {% if subscriptions|length > 0 and not is_subscription_cancel %}
        <p id="fc_manage_subscriptions" class="fc_heading"><strong>{{ config.lang.email_html_manage_subscriptions|raw }}</strong></p>
        <p id="fc_subscription_instructions">{{ config.lang.email_html_subscription_instructions|raw }}</p>
        <ul class="fc_subscription_links">
        {% for subscription in subscriptions %}
            <li style="padding-bottom:10px;">
                {{ subscription.description }}<br />
                {{ subscription.html_links|raw }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{# END EMAIL TWIG TEMPLATE #}
