{% macro get_error_string(field_name, errors) %}
{# don't indent as it will return a non-empty string #}
{# even if there's no error #}
{% for error in errors if error.context == field_name %}
<p>{{ error.message }}</p>
{% endfor %}
{% endmacro %}

{% macro shipping_results(address) %}
<div class="form-group">
    <div class="radio-group col-md-10 col-md-offset-1">
        {% for rate in address.shipping_results %}
        {# <div class="shipping-rate radio active"> #}
        <div class="shipping-rate radio{% if rate.service_id == address.shipping_service_id %} active{% endif %}">
            <label for="shipping_service_id_{{ rate.service_id }}">
                <input
                    id="shipping_service_id_{{ rate.service_id }}"
                    type="radio"
                    {% if address.prefix == 'shipping' %}
                    name="shipping_service_id"
                    {% else %}
                    name="{{ address.prefix }}_shipping_service_id"
                    {% endif %}
                    value="{{ rate.service_id }}"
                    {{ checked(rate.service_id, address.shipping_service_id) }}
                />{{ rate.method }} {{ rate.service_name }}
                <span>{{ rate.price|money_format }}</span>
            </label>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro use_different_addresses(use_different_addresses, lang) %}
<div class="form-group">
    <div class="col-sm-8 col-sm-offset-3">
        <div class="checkbox">
            <label for="use_different_addresses">
                <input type="checkbox"
                    id="use_different_addresses"
                    name="use_different_addresses"
                    value="1"
                    {{ checked(use_different_addresses) }} />
                {{ lang.checkout_use_billing_address }}
            </label>
        </div>
    </div>
</div>
{% endmacro %}
