{% macro get_info_string(context, info) %}
{# don't indent as it will return a non-empty string #}
{# even if there's no error #}
{% for info_entry in info if info_entry.context == context %}
<p>{{ info_entry.message }}</p>
{% endfor %}
{% endmacro %}

{% macro get_error_string(field_name, errors) %}
{# don't indent as it will return a non-empty string #}
{# even if there's no error #}
{% for error in errors if error.context == field_name %}
<p>{{ error.message }}</p>
{% endfor %}
{% endmacro %}

{% macro shipping_results(address, context_class, errors, lang) %}
{% set field_name = 'shipping_service_id' %}
{% set description_field_name = 'shipping_service_description' %}
{% if address.prefix != 'shipping' %}
    {% set field_name = address.prefix~'_'~field_name %}
    {% set description_field_name = address.prefix~'_'~description_field_name %}
{% endif %}
{% set error_string = _self.get_error_string(field_name, errors) %}
{% if address.shipping_results|length > 0 %}
<div class="fc-form-group fc-shipping-rates{% if error_string %} fc-alert-container--error{% endif %}">
    <div class="fc-input-group-container--radios {{ context_class }}">
        {% for rate in address.shipping_results %}
        {# <div class="shipping-rate radio active"> #}
        <div class="fc-shipping-rates__rate fc-input-group-container--radio {% if rate.service_id == address.shipping_service_id %}fc-input-group-container--active{% endif %}">
            <label for="{{ field_name }}_{{ rate.service_id }}" class="fc-form-label fc-form-label--shipping-rate">
                <input
                    id="{{ field_name }}_{{ rate.service_id }}"
                    type="radio"
                    name="{{ field_name }}"
                    value="{{ rate.service_id }}"
                    class="fc-form-control--shipping-rate"
                    {{ checked(rate.service_id, address.shipping_service_id) }}
                /><div class="fc-shipping-rates__rate__name">{{ rate.method }} {{ rate.service_name }}</div>
                <div class="fc-shipping-rates__rate__value">{{ rate.price|money_format }}</div>
            </label>
        </div>
        {% endfor %}
    {% if error_string %}
        <div class="fc-alert fc-alert--danger">
            {{ lang.checkout_select_shipping_option }}
        </div>
    {% endif %}
    </div>
</div>
{% endif %}
<input
    id="{{ description_field_name }}"
    type="hidden"
    name="{{ description_field_name }}"
    value="{{ address.shipping_service_description }}"
/>
{% endmacro %}

{% macro use_different_addresses(use_different_addresses, lang) %}
<div class="fc-form-group fc-checkout__section--customer-billing-address__use-different-address">
    <div class="fc-container__grid--use-different-address">
        <div class="fc-input-group-container--checkbox">
            <label for="use_different_addresses" class="fc-form-label fc-form-label--different-address">
                <input type="checkbox"
                    id="use_different_addresses"
                    name="use_different_addresses"
                    value="1"
                    {{ checked(use_different_addresses) }} />
                {{ lang.checkout_use_billing_address }}
            </label>
        </div>
    </div>
</div>
{% endmacro %}
